/* еще надо: в модальном окне стилизовать кнопку красиво, поиграть с шрифтами (размером и цветом) в модальном окне, цену можно жирной сделать, описание курсивным, hover*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  background-color: #f9f9fb;
  margin: 0;
  padding: 0;
}
.App {
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-input {
  background-color: #f1f1f6;
  display: block;
  margin: 0 auto 30px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
}
.search-input::placeholder {
  color: #6e6e70;
  opacity: 1; 
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
  justify-items: center;
}

.product-card {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 500px) {
  .product-card {
    max-width: 360px;
  }
}


.product-card:hover {
  transform: scale(1.05);
}
.product-image {
  width: 100%;
  height: 150px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.product-card h2{
  margin-bottom: 10px;
}
.product-footer {
  margin-top: auto;
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  width: 90%;
  box-sizing: border-box;
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.modal-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 18px;
}
.modal-content h2{
  margin-bottom: 10px;
}
.modal-content .modal-description{
  margin-bottom: 10px;
  font-style: italic;
}
.modal-content .modal-price{
  font-weight: bold;
}
.modal-content .buy-button {
  margin-top: 15px;
  width: 100%;
  padding: 12px 16px;

  background-color: #4f46e5; 
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);


  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.modal-content .buy-button:hover {
  background-color: #4338ca;
}

.modal-content .buy-button:active {
  transform: scale(0.98);
}



